{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <form action="" method = 'POST'>
        {% csrf_token %}
        <fieldset class="form">
          <legend>Log In</legend>
          <!--render form fields as paragraph-->
          {{ form|crispy }}
        </fieldset>
        <div class="">
          <button type="submit">Login</button>
        </div>
      </form>
      <div>
        <p>Need an account? <a href="{% url 'register' %}"> Sign up </a></p>
      </div>
    </div> 
  </div>
{% endblock %}
