{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s4">
        {% if user.userprofile.photo %}
        <img src="{{user.userprofile.profile_photo.url}}" alt="" class="circle responsive-img">
        {% else %}
        <p>no profile pic</p>
        <img src="http://www.gravatar.com/avatar/?d=mp" alt="" class="circle responsive-img">
        {% endif %}
      </div>
      <div class="col s6">
        <h5>{{user.username}}</h5>
        <p>{{ user.email }}</p>
        <p>profile path{{user.userprofile.profile_photo}}</p>
        <p>bio{{user.userprofile.bio}}</p>
      </div>
    </div>
    <div class="row">
      <!--enctype to save image-->
      <form action="" method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form">
          <legend>Profile Info</legend>
          <!--render form fields as paragraph-->
          {{ p_form|crispy }}
        </fieldset>
        <div>
          <button type="submit">Update</button>
        </div>
      </form>
    </div>
    

  </div>
{% endblock %}
