{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>Instagram-clone</title>
  {% else %}
  <title>Instagram-clone</title>
  {% endif %}
  <!--materialize stylesheets-->
  {% block materialize_stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    <!--custom stylesheet-->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock %}

</head>
<body>
  {% include "navbar.html" %}
  {% block content %}
    
  {% endblock %}
  <!--materialize scripts-->
  {% block materialize_javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {% endblock %}

</body>
</html>