{% extends 'base.html' %}
{% block content %}
  {{ block.super }}
  
  <div class="container" id="image-body" style="padding-left: 100px; padding-right: 100px;padding-top: 100px;">
    {% for post_item in posts %}
    <div class="row" id="img-row" style="padding: 0px;">
        <div class="card-panel hoverable white" id="card">
          <img src="{{post_item.profile.userprofile}}" alt="" class="circle responsive-img">
          <!-- <p>test{{post_item.profile.user.userprofile}}</p> -->
          <p><b>{{post_item.profile}}</b></p></h5>
          <div class="card-image" style="height: 600px;">
            <a href="{% url 'post_detail' pk=post_item.id%}">
              <img src="{{post_item.image.url}}" class="responsive-img" alt="Image" id="img">
            </a>
          </div>
          <!--footer-->
          <p><b>{{post_item.profile}}</b> {{post_item.caption}}</p></h5>
          <!-- <a href="{% url 'post_detail' pk=post_item.id%}">{{post_item.name}}</a> -->
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
