<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo left">Instagram</a>
    <ul class="center">

    </ul>
    <ul class="right">
      <li>
        <form class="input field">
          <!--<div class="input-field">-->
            <input id="search" type="search" required>
            <!--<label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>-->
        </form>
      </li>
      <li><a href="sass.html"><i class="material-icons">search</i></a></li>
      <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
      <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
      <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
    </ul>
  </div>
</nav>