<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <a href="{% url 'index' %}" class="brand-logo left black-text">Instagram-clone</a>

      
      <ul class="right">
        <li>
          
          <form id="search-site" action="{% url 'search_results' %}" method='get'>
            <div class="input-field">
              
              <input placeholder="Search users..."  id="search" type="text" class="validate" name="user">
           
            </div>
          </form>
        
        </li>
        
        <li><a href="/"><i class="material-icons black-text">home</i></a></li>
        <li><a href="{% url 'post_create' %}"><i class="material-icons black-text">add</i></a></li>
        <li><a href="{% url 'profile' username=user %}"><i class="material-icons black-text">account_circle</i></a></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons black-text">exit_to_app</i></a></li>
          
      

        
      </ul>
    </div>
  </nav>
</div>