<nav>
  <div class="nav-wrapper">
    <a href="{% url 'index' %}" class="brand-logo left">Instagram</a>
    <ul class="center">

    </ul>
    <ul class="right">
      <li>
        <form id="search-site"  action="{% url 'search_results' %}" method='get'>
          <div class="input-group">
            <div class="input-field">
            <input id="search" type="search" name='user' placeholder="search users...">
          </div>
          <label class="label-icon" for="search">
            <button type="submit" class="input-group-addon btn teal"><i class="material-icons">search</i></button>
          </label>
          <!--<button type="submit" class="input-group-addon btn">search</button>-->
          </div>
        </form>
      </li>
      <li><a href="{% url 'search_results' %}"><i class="material-icons">search</i></a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'profile' username=user %}"><i class="material-icons">account_circle</i></a></li>
        <li><a href="{% url 'logout' %}"><i class="material-icons">view_module</i></a></li>
        <li><a href="{% url 'new_post' %}"><i class="material-icons">add</i></a></li>
      {% else %}
        <li><a href="{% url 'login' %}"><i class="material-icons">view_module</i></a></li>
        <li><a href="{% url 'register' %}"><i class="material-icons">refresh</i></a></li>
      {% endif %}
      
    </ul>
  </div>
</nav>