{%extends 'base.html'%} 
{% block content %}
<div class="container">
  <div class="row">
    {% if users%}
      <h5>Found {{ users|length }} with name '{{message}}'</h5>
    {% else %}
      <h5> Found 0 users with name '{{message}}'</h5>
    {% endif %}
  </div>
  {% if users %}
    {% for user in users %}
    <div class="row">
      {% if user.profile_photo %}
      <div style="display: flex; padding-left: 30px;align-items: center;">
        <div class="card-image" style="height: 100px; width: 100px; padding: 20px;">
          <img src="{{user.profile_photo.url}}" alt="" class="circle responsive-img" style="height: 100%; width: 100%; object-fit: cover;">
        </div>
        <a href="{% url 'user_profile' username=user.user.username %}">
          <p><b>{{user.user.username}}</b></p>
        </a>
      </div>
      {% else %}
      <div style="display: flex; padding-left: 30px;align-items: center;">
        <div class="card-image" style="height: 100px; width: 100px; padding: 20px;">
          <img src="http://www.gravatar.com/avatar/?d=mp" alt="" class="circle responsive-img" style="height: 100%; width: 100%; object-fit: cover;">
        </div>
        <a href="{% url 'user_profile' username=user.user.username %}">
          <p><b>{{user.user.username}}</b></p>
        </a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}