@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

body{
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

.brand-logo{
  font-family: 'Grand Hotel', cursive;
}

