@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

body{
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

#login, #login2{
  background-color: white;
  border-style: solid;
  border-color: #dbdbdb;
  border-width: thin;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;

}

fieldset{
  margin: 50px;
}

h2{
  font-family: 'Grand Hotel', cursive;
  font-size: 40pt;
}

#img-row{
  padding: 40px;
}

.card-image{
  height: 300px;
  width: 300px;
  overflow: hidden;
  cursor: pointer;
}

#img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

#card{
  padding: 0px;
  margin: 5px;
}

