{% extends 'base.html' %}
{% block content %}
  {{ block.super }}
 
  <div class="container-fluid" id="image-body">
    <div class="row" id="img-row">
      
      <div class="col s12 m4 l3" style="padding: 0px;" >
        <div class="card-panel hoverable teal darken-4" id="card">

          <div class="card-image">
            
              <img src="{{object.image.url}}" class="responsive-img" alt="Image" id="img">
            
          </div>
          <p>test{{object.caption}}</p>
        </div>
        {% if object.profile == user %}
          <div>
            <a href="{% url 'post_update' pk=object.id %}"><i class="material-icons">create</i></a>
            <a href="{% url 'post_delete' pk=object.id %}"><i class="material-icons">delete</i></a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
