{% extends 'base.html' %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="row" style="padding-top: 50px;">
      <div class="col s12 m2 l3"></div>
      <div class="col s12 m8 l6" id="login">
        <div class="row">
          <h6 class="instagram">Delete post</h6>
          <p>Are you sure you want to delete this post?</p>
        </div>
        <form action="" method = 'POST'>
          {% csrf_token %}
          
          <!--render form fields as paragraph-->
          {{ form }}
          <div>
            <button type="submit" class=" waves-effect waves-light btn blue red">Yes, Delete</button>
            <a href="{% url 'post_detail' pk=object.id %}">Cancel</a>
          </div>
        </form>
      </div>
      <div class="col s12 m2 l3"></div>
    </div> 
  </div>
  <!--footer-->
  <div class="section center" style="color: #8c9395;">
    <p>2022 insta-clone</p>
  </div>
{% endblock %}
